@media screen and (max-width: 1200px) {
	header {
		height: 100vh;
		padding: 0 20px
	}

	h1 {
		font-size: 3.8rem;
		word-spacing: .3rem;
		letter-spacing: 1px
	}

	#services .littel_description:nth-child(2) {
		margin-bottom: 25px
	}

	#skil .col svg {
		margin-left: 20px;
	}

	#skil .col h3 {
		margin-top: 20px;
		text-align: center
	}
}


@media only screen and (max-width: 1024px) {

	header {
		height: 95vh
	}

	.row {
		width: 90%;
	}

	html {
		font-size: 57.5%;
	}

	.client-photo {
		float: none;
		width: 100%;
		text-align: center;
	}

	.client-photo img {
		margin-bottom: 5px;
	}

	.review {
		float: none;
		width: 100%;
		text-align: center;
	}

	.review h3 {
		margin-left: -25px
	}

	.review span {
		margin-left: -25px;
		font-weight: bold;
	}

	.contact-section form {
		width: 100%;
		margin-left: 0;
	}
}

@media screen and (max-width: 980px) {
	.span_1_of_4 {
		width: 49.2%;
	}

	.span_1_of_4:nth-child(3) {
		margin-left: 0;
	}

	html {
		font-size: 52%;
	}
}



@media screen and (max-width: 780px) {

	#home nav .mobile-menu .fa-bars {
		display: block;
	}

	h1 {
		font-size: 3rem;
		word-spacing: inherit;
	}

	.main-nav {
		display: none;
	}

	.review h3 {
		margin-left: 8px
	}

	.review span {
		margin-left: 8px;
		font-weight: bold;
	}

	.footer-section ul li a {
		font-size: 2rem;
	}

	.portfolio-section h4 {
		margin-top: 15px
	}
}

@media screen and (max-width: 700px) {
	.review h3 {
		margin-left: 30px;
	}

	.review span {
		margin-left: 30px;
	}
}

@media screen and (max-width: 620px) {
	header {
		height: 75vh
	}

	h1 {
		font-size: 3rem;
		letter-spacing: inherit;
		line-height: 4rem
	}

	.btn-hero:link,
	.btn-hero:visited,
	.btn {
		padding: 1.5rem 2rem
	}

	h2 {
		font-size: 2.6rem
	}

	#skil .col svg {
		margin-left: 20px;
	}

	svg.radial-progress {
		max-width: 157px;
		padding: 2em;
	}

	#portfolio-section h4 {
		margin-top: 10px;
	}

	.review h3 {
		margin-left: 2px;
		font-size: 2rem
	}

	.review .role {
		margin-right: 0;
		margin-left: -20px
	}

	#test .review p {
		text-align: center
	}

	html {
		font-size: 48%;
	}

	.footer-section ul li a {
		font-size: 1.4rem;
	}
}

@media (max-width :500px) {
	h1 {
		font-size: 22px;
	}

	.span_1_of_4 {
		width: 100%;
	}

	.span_1_of_2 {
		width: 100%;
	}

	#skil .row {
		text-align: center;
	}

	.skil-section .box {
		margin-top: 0rem;
	}

	.mobile-menu .fa-bars {
		margin-right: 2px
	}
}
